#third{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../images/bg3.png) center center /cover no-repeat;;
}
.rwjs{
    position: absolute;
    width: 11.5%;
    height: 26.2%;
    left: 21.8%;
    top: 21.8%;
    cursor: pointer;
}
.rwjs img{
    width: 100%;
    height: 100%;
}
.zwyy{
    position: absolute;
    width: 15%;
    height: 7.8%;
    left: 21%;
    top: 74.8%;
    cursor: pointer;
}
.zwyy img{
    width: 100%;
    height: 100%;
}
.rwyy{
    position: absolute;
    width: 15%;
    height: 7.8%;
    left: 21%;
    top: 82.8%;
    cursor: pointer;
}
.rwyy img{
    width: 100%;
    height: 100%;
}
.play3{
    position: absolute;
    width: 4.5%;
    height: 9.5%;
    left: 65%;
    top: 21.8%;
    cursor: pointer;
    z-index: 9999;
}
.play3 img{
    width: 100%;
    height: 100%;
}
.play3 img:hover{
    content: url(../images/play3hover.png);
}
.rw{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s;
}
#rw1{
    background: url(../images/rw1.png)center center /cover no-repeat;
    z-index: 20;
    opacity: 0;
}
#rw2{
    background: url(../images/rw2.png)center center /cover no-repeat;
    z-index: 20;
    opacity: 0;

}
#rw3{
    background: url(../images/rw3.png)center center /cover no-repeat;
    z-index: 20;
    opacity: 1;

}
#rw4{
    background: url(../images/rw4.png)center center /cover no-repeat;
    z-index: 20;
    opacity: 0;

}
#rw5{
    background: url(../images/rw5.png)center center /cover no-repeat;
    z-index: 20;
    opacity: 0;

}
#lan{
    width: 9.37%;
    height: 37%;
    position: absolute;
    left: 72%;
    top: 24%;
    z-index: 99999;
    margin: auto 0;
    overflow: hidden;
}
#boxThird{
    position: absolute;
    width: 112%;
    height: 350%;
    margin: 0 auto;
    text-align: center;
    top: -34.5%;
    transition: all 0.5s;
}
.tu{
    width: 50%;
    height: 29.72%;
    display: block;
    margin: 0 auto;
}
#top{
    position: absolute;
    z-index: 999;
    top: 15.47%;
    right: 21.2%;
    cursor: pointer;
}
#top img:hover{
    content: url(../images/tophover.png);
}
#bottom{
    position: absolute;
    z-index: 999;
    top: 61.56%;
    right: 21.2%;
    cursor: pointer;
}
#bottom img:hover{
    content: url(../images/bottomhover.png);
}
