#first{
    width: 100%;
    height: 100%;
    background: url(../images/bg1.png)center center /cover no-repeat;
    position: relative;
}
#logoFirst{
    position: absolute;
    width: 7%;
    height: 11%;
    top: 3%;
    left: 14%;
    cursor: pointer;
}
#logoFirst img{
    width: 100%;
    height: 100%;
}
#enterFirst{ 
    position: absolute;
    width: 9.5%;
    height: 4.5%;
    top: 2%;
    right: 13.5%;
    cursor: pointer;
}
#enterFirst img{
    width: 100%;
    height: 100%;
}
#enterFirst a{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../images/jrgw.png) center center /cover no-repeat;
}
#pz-imageFirst{
    position: absolute;
    width: 47.2%;
    height: 22%;
    top: 63%;
    left: 25.4%;
}
#twelveFirst{
    position: absolute;
    width: 4.6%;
    height: 12.2%;
    left: 13.5%;
    top: 82%;
    cursor: pointer;
}
#play0First{
    position: absolute;
    width: auto;
    height: 8%;
    left: 56.5%;
    top: 79%;
    cursor: pointer;
}
#play0First img{
    width: 100%;
    height: 100%;
}
#logoFirst img:hover{
    content: url(../images/logohover.png);   
}
#play0First img:hover{
    content: url(../images/playhover.png);
}
#enterFirst img:hover{
    content: url(../images/jrgwhover.png);
}
#PCFirst{
    cursor: pointer;
    position: absolute;
    height: 25%;
    width: 52%;
    top: 89%;
    left: 37%;
}
#PCFirst a{
    display: inline-block;
    width: 23%;
    height: 20%;
    background: url(../images/pcdownload.png) center center /cover no-repeat;
}
#PCFirst a:hover{
    background: url(../images//pcdownloadhover.png) center center /cover no-repeat;
}
#PCFirst .yun{
    display: inline-block;
    width: 23%;
    height: 20%;
    background: url(../images/ydownload.png) center center /cover no-repeat;
}
#PCFirst .yun:hover{
    background: url(../images/ydownloadhover.png) center center /cover no-repeat;
}

#vid0{
    position: relative;
    width: 92%;
    height: 90%;
    left: 3.6%;
    top: 2%;
}
#bgb1{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
}
